:root {
  --color-black: #000;
  --item-color: #3c5aa8;
  --text-color: #5d6e97;
  --btn-background: #4a9dff;
  --theme-color: #f9f9f9;
  --white: #ffffff;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--theme-color);
}
html{
  background-color: var(--theme-color);
}
