:root {
  --color-black: #000;
  --item-color: #3C5AA8;
  --text-color: #5D6E97;
  --btn-background: #4A9DFF;
  --theme-color: #F9F9F9;
  --white: #ffffff
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--theme-color);
}
